MONGO_URI=mongodb://localhost:27017/

SECRET_KEY=your_secret_key

DUO_IKEY=your_duo_integration_key
DUO_SKEY=your_duo_secret_key
DUO_HOST=your_duo_host

DUO_ADMIN_IKEY=your_admin_integration_key
DUO_ADMIN_SKEY=your_admin_secret_key
DUO_ADMIN_HOST=your_admin_host